body {
  font-family: 'Ubuntu', sans-serif;
  padding-top: 50px;
  background-image: url("../img/bg7.jpg");
  background-position: center top;
  color: white;
}
.navbar-nav a:hover{
  color:black;
}
.col-centered{
  margin: 0 auto;
  float: none;
}
.navbar .navbar-nav {
  display: inline-block !important;
  float: none !important;
  vertical-align: top !important;
}
.navbar-header {
  margin: 0 auto;
  float:none;
}
.navbar-brand {
  font-size: 150%;
}

.navbar .navbar-collapse {
  text-align: center !important;
}
.nav-menu {
  text-align: center;
}
.content {
  padding-top: 30px;
  width: 100vw;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  padding-bottom: 40px;
  min-height:75vh;
}
.jumbotron {
  border: none;
  background-color: rgba(0,0,0,0);
}
.navbar a {
  font-family: 'Ubuntu', sans-serif;
  color:white !important;
}
.active {
  color: red;
}
.navbar {

  background-color: rgba(0,0,0,0.8);
   margin-bottom: 0 !important;
   border-color: black;

}
.services {
  text-align: left;
}
.footer {
  padding-top: 20px;
  border-top: 1px solid black;
  color: black;
  background-color: rgba(255,255,255,0.8);
}
.footer-text {
  margin: 0 auto;
  text-align: center;
}
.footer-text hr {
  border: 0.5px solid black;
}
.content-img {
  margin: 0 auto;
  float: none;
}

.img-container {
  float:left;
  border: 10px solid white;
}
