<link rel="stylesheet" href="css/etusivu.css">
<div class="introduction">
    Tuusulan Allasapu Oy on lorem ipsum dolor sit amet, consectetur adipiscing elit.
</div>
<div class="services">
    <div class="service-item">
        <i class="fa fa-truck fa-4x ikoni" aria-hidden="true"></i>
        <h4>Asennus</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin efficitur tristique ante, vitae euismod purus convallis eget. Proin maximus facilisis ligula id vestibulum.
        </p>
    </div>
    <div class="service-item">
        <i class="fa fa-wrench fa-4x ikoni" aria-hidden="true"></i>
        <h4>Huolto</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin efficitur tristique ante, vitae euismod purus convallis eget. Proin maximus facilisis ligula id vestibulum.
        </p>
    </div>
    <div class="service-item">
        <i class="fa fa-refresh fa-4x ikoni" aria-hidden="true"></i>
        <h4>Saneeraus</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin efficitur tristique ante, vitae euismod purus convallis eget. Proin maximus facilisis ligula id vestibulum.
        </p>
    </div>
    <div class="service-item">
        <i class="fa fa-phone fa-4x ikoni" aria-hidden="true"></i>
        <h4>Konsultointi</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin efficitur tristique ante, vitae euismod purus convallis eget. Proin maximus facilisis ligula id vestibulum.
        </p>
    </div>
</div>
<div class="etusivu-content1">
    <div class="content-item">
        <div class="content-item-item content-teksti">
            <h4>Otsikko</h4>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin efficitur tristique ante, vitae euismod purus convallis eget. Proin maximus facilisis ligula id vestibulum.
        </div>
        <div class="content-item-item content-kuva">
            <img src="img/kuva.jpg">
        </div>
    </div>

</div>
<div class="etusivu-content2">
    <div class="content-item">
        <div class="content-item-item content-kuva">
            <img src="img/kuva.jpg">
        </div>
        <div class="content-item-item content-teksti">
            <h4>Otsikko</h4>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin efficitur tristique ante, vitae euismod purus convallis eget. Proin maximus facilisis ligula id vestibulum.
        </div>
    </div>

</div>