<div class="col-sm-7 col-md-7 col-centered">
<div class="jumbotron">
    <h1>Tuusulan Allasapu</h1>
    <p>Tuusulan Allasapu Oy on pääasiassa pääkaupunkiseudulla toimiva uima-allas -alan yritys, jonka periaatteena on tarjota laadukkaita ja kestäviä ratkaisuja.</p>
</div>
<p>Käytämme sellaisia laitteita ja tarvikkeita, jotka on havaittu toimiviksi yli 25 vuoden kokemuksella. Ensisijaisena tavoitteenamme on luoda asiakkaan toiveiden mukainen, laadukas uima-allas sekä laitteisto.</p>
<hr>
<p>Toimintamme kattaa sekä allas-asennukset että huollot ja korjaukset. Asennamme ja huollamme mm uima-altaat, porealtaat ja -ammeet, vesihierontalaitteet ja vesiaiheet sekä yksityiseen että julkiseen käyttöön. Palveluihimme kuuluvat huoltosopimukset, kausihuollot
    ja määräaikaishuollot. </p>
<hr>
<div class="row"> <img class="img-responsive content-img" src="img/9.jpg"> </div>
<hr>
<p>Tarjoamme myös laajan valikoiman erilaisia allastarvikkeita kuten allaskemikaalit, pumput, suodattimet, automaattikemikaalilaitteet, lämmittimet, UV-laitteet, allasvalaisimet ja -portaat sekä uima-allaspeitteet. </p>
<hr>
<p>Konsultoimme, tarjoamme opastusta ja autamme suunnittelussa. </p>
<hr>
</div>
