<div class="border" style="width:100%">
<div class="border col-md-12 gallery col-centered">
    <div class="col-md-3 col-xs-10 img-container">
        <a href="img/1.jpg" data-lightbox="gallery" data-title="viesti"> <img class="img-responsive gallery-img" src="img/1.jpg"> </a>
    </div>
    <div class="col-md-3 col-xs-10  img-container">
        <a href="img/2.JPG" data-lightbox="gallery" data-title="viesti"> <img class="img-responsive gallery-img" src="img/2.JPG"> </a> </div>
    <div class="col-md-3 col-xs-10 img-container">
        <a href="img/3.JPG" data-lightbox="gallery" data-title="viesti"> <img class="img-responsive gallery-img" src="img/3.JPG"> </a></div>
    <div class="col-md-3 col-xs-10 img-container"> <img class="img-responsive gallery-img" src="img/4.JPG"> </div>
    <div class="col-md-3 col-xs-10 img-container"> <img class="img-responsive gallery-img" src="img/5.JPG"> </div>
    <div class="col-md-3 col-xs-10 img-container"> <img class="img-responsive gallery-img " src="img/6.JPG"> </div>
    <div class="col-md-3 col-xs-10 img-container"> <img class="img-responsive gallery-img " src="img/7.JPG"> </div>
    <div class="col-md-3 col-xs-10 img-container"> <img class="img-responsive gallery-img" src="img/8.jpg"> </div>
    <div class="col-md-3 col-xs-10 img-container"> <img class="img-responsive gallery-img" src="img/9.jpg"> </div>
</div>
</div>
