<link rel="stylesheet" href="css/lightbox.min.css">
<link rel="stylesheet" href="css/galleria.css">

<div class="galleria">
    <div class="galleria-img">
        <a data-lightbox="gallery" href="img/gallery/1.jpg"><img src="img/gallery/thumbnails/1_thumb.jpg" alt=""></a>
    </div>
    <div class="galleria-img">
        <a data-lightbox="gallery" href="img/gallery/2.JPG"><img src="img/gallery/thumbnails/2_thumb.jpg" alt=""></a>
    </div>
    <div class="galleria-img">
        <a data-lightbox="gallery" href="img/gallery/3.JPG"><img src="img/gallery/thumbnails/3_thumb.jpg" alt=""></a>
    </div>
    <div class="galleria-img">
        <a data-lightbox="gallery" href="img/gallery/4.JPG"><img src="img/gallery/thumbnails/4_thumb.jpg" alt=""></a>
    </div>
    <div class="galleria-img">
        <a data-lightbox="gallery" href="img/gallery/5.JPG"><img src="img/gallery/thumbnails/5_thumb.jpg" alt=""></a>
    </div>
    <div class="galleria-img">
        <a data-lightbox="gallery" href="img/gallery/6.JPG"><img src="img/gallery/thumbnails/6_thumb.jpg" alt=""></a>
    </div>
    <div class="galleria-img">
        <a data-lightbox="gallery" href="img/gallery/7.jpg"><img src="img/gallery/thumbnails/7_thumb.jpg" alt=""></a>
    </div>
    <div class="galleria-img">
        <a data-lightbox="gallery" href="img/gallery/8.jpg"><img src="img/gallery/thumbnails/8_thumb.jpg" alt=""></a>
    </div>
    <div class="galleria-img">
        <a data-lightbox="gallery" href="img/gallery/9.jpg"><img src="img/gallery/thumbnails/9_thumb.jpg" alt=""></a>
    </div>

</div>