<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="img/gallery/1.jpg" data-lightbox="gallery" data-title="viesti"> <img class="img-responsive" src="img/gallery/thumbnails/1_thumb.jpg"> </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="img/gallery/2.JPG" data-lightbox="gallery" data-title="viesti"> <img class="img-responsive" src="img/gallery/thumbnails/2_thumb.jpg"> </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="img/gallery/3.JPG" data-lightbox="gallery" data-title="viesti"> <img class="img-responsive" src="img/gallery/thumbnails/3_thumb.jpg"> </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="img/gallery/4.JPG" data-lightbox="gallery" data-title="viesti"> <img class="img-responsive" src="img/gallery/thumbnails/4_thumb.jpg"> </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="img/gallery/5.JPG" data-lightbox="gallery" data-title="viesti"> <img class="img-responsive" src="img/gallery/thumbnails/5_thumb.jpg"> </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="img/gallery/6.JPG" data-lightbox="gallery" data-title="viesti"> <img class="img-responsive" src="img/gallery/thumbnails/6_thumb.jpg"> </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="img/gallery/7.jpg" data-lightbox="gallery" data-title="viesti"> <img class="img-responsive" src="img/gallery/thumbnails/7_thumb.jpg"> </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="img/gallery/8.jpg" data-lightbox="gallery" data-title="viesti"> <img class="img-responsive" src="img/gallery/thumbnails/8_thumb.jpg"> </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="img/gallery/9.jpg" data-lightbox="gallery" data-title="viesti"> <img class="img-responsive" src="img/gallery/thumbnails/9_thumb.jpg"> </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="img/gallery/10.jpg" data-lightbox="gallery" data-title="viesti"><img class="img-responsive" src="img/gallery/thumbnails/10_thumb.jpg"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="img/gallery/11.jpg" data-lightbox="gallery" data-title="viesti"><img class="img-responsive" src="img/gallery/thumbnails/11_thumb.jpg"></a>
        </div>
    </div>

    <!--
    KUVAOHJEET:

    KUVAN YMPÄRILLE DIV
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
    LINKKI TÄYSKOKOISEEN KUVAAN
    <a class="thumbnail" href="img/gallery/KUVAN_TIEDOSTONIMI" data-lightbox="gallery" data-title="VAPAAVALINTAINEN KUVATEKSTI">
    ESIKATSELUKUVA
    <img class="img-responsive" src="img/gallery/thumbnails/ESIKATSELUKUVAN_TIEDOSTONIMI(400pxx300px)">

    -->
    <script>
        lightbox.option({
            'albumLabel': 'Kuva %1 / %2'
        });
    </script>
</div>
