<div class="col-sm-7 col-md-7 col-centered services">
<h1>Palvelut</h1>
 Kaikki palvelumme kattavat yksityisten altaiden lisäksi myös julkiset altaat (kuten hotellien ja palvelutalojen altaat) sekä taloyhtiöiden altaat.
 <hr>
<h3>ASENNUS</h3> Tavoitteenamme on luoda asiakkaan toiveiden mukainen, persoonallinen allasratkaisu. Panostamme laatuun ja toimivuuteen. Alla esimerkkejä allastyypeistä, joihin toimitamme laitteistot ja läpiviennit sekä tarvittaessa myös pinta-materiaalit.
<ul>
    <li>Betoni- ja harkkoaltaat, joiden pintamateriaaleina laatta, RST-pinnoitus tai liner PVC-pinnoitus</li>
    <li>Eri valmistajien lasikuitualtaat </li>
    <li>Vesihierontalaitteet </li>
    <li>Uima-allaspeitteet (manuaaliset ja sähköiset sekä allaskatokset) </li>
    <li>Vesiputoukset, suihkulähteet ja muut vesiaiheet </li>
</ul>
<hr>
<h3>HUOLTO</h3> Huollamme kaikenikäset uima-allaslaitteistot:
<ul>
    <li>Uima-allaslaitteistot:</li>
    <ul>
        <li>Yleisimmät pumput, mm merkit Badu, Pahlén, Calpeda ja Popular AP-8-10, Kripsol, ITT-pumput</li>
        <li>Suodattimet, kuten Kripsol, Astral, Triton, Popular AP-500</li>
        <li>Eri valmistajien automaattikemikaalilaitteet; Prominent, Pahlén, Poolpac... </li>
        <li>UV-laitteet, mm Prominent, Bio-UV, Pahlén </li>
        <li>Sähkölämmittimet, lämmönsiirtimet ja lämpöpumput; Pahlén</li>
    </ul>
    <li>Porealtaat ja poreammeet, esim JakuZZI, Novitek, Popular (Pumpputuote Oy:n valmistamat)</li>
</ul>
Yleisimmät varaosat saa suoraan varastosta, harvinaisemmat tilataan. Huoltoautosta saa kätevästi allaskemikaalit ja perustarvikkeet huollon yhteydessä.
<hr>
<div class="row">
    <div class="content-img-container" ng-switch="introduction">
        <div class="introduction-msg" ng-switch-when="1">
            <img class="img-responsive content-img" src="img/gallery/9.jpg">
        </div>
        <div class="introduction-msg" ng-switch-when="2">
            <img class="img-responsive content-img" src="img/gallery/8.jpg">
        </div>
        <div class="introduction-msg" ng-switch-when="3">
            <img class="img-responsive content-img" src="img/gallery/11.jpg">
        </div>
    </div>
</div>
<hr>
<h3>SANEERAUS</h3>
 Saneeraamme ja huollamme kaikentyyppisten uima-altaiden ja porealtaiden putkistot ja laitteet. Saneerauksella allas päivitetään vastaamaan nykypäivän vaatimuksia ja samalla käyttömukavuus paranee:
<div>
    <ul>
        <li>Tehokkaampi ja toimivampi laitteisto ja vedenpuhdistus </li>
        <li>Helppokäyttöisempi ja vaivattomampi ylläpito, esim;</li>
        <ul>
            <li>Automaattinen kemikaaliannostelu</li>
            <li>Automaattinen vedentasaus</li>
            <li>UV-laitteet</li>
        </ul>
        <li>Allaspeite vähentää haihtumista ja siten kosteusvaurioiden riskiä sisätiloissa sekä vähentää lämmityskustannuksia </li>
        <li>Lisäominaisuuksilla (kuten vesihierontalaitteilla) paremmat käyttöominaisuudet </li>
    </ul>
</div> Kysy lisää eri saneerausvaihtoehdoista!
<hr>
<h3>KONSULTOINTI JA SUUNNITTELU</h3> Tarjoamme konsultointia ja opastusta puhelimitse ja sähköpostitse, ja tarvittaessa tulemme paikan päälle arvioimaan tilanteen. Uudiskohteen tai saneeraustyön suunnittelu tehdään yhteistyönä, asiakkaan toiveiden mukaisesti. Osaamme esitellä erilaisia
vaihtoehtoja, ja tunnemme eri ratkaisujen hyvät ja huonot puolet.
<hr>
</div>
