<div class="col-sm-9 col-md-9 col-centered">
    <h2>Suositukset</h2>
    <!-- vaihtuva suositusnäyttö -->
    <div class="reference-container" ng-switch on="reference">
        <div class="reference-display" ng-switch-when="1"> <i>"aika hyvä"</i>
            <h4>Oy Firma Ab</h4> </div>
        <div class="reference-display" ng-switch-when="2"> <i>"jättefint"</i>
            <h4>Ab Bolaget Oy</h4> </div>
        <div class="reference-display" ng-switch-when="3"> <i>"10/10 would totally recommend"</i>
            <h4>ACME ltd</h4> </div>
    </div>
    <div class="col-md-8 col-centered">
        <div class="card-group">
            <div class="card"> <img src="img/logo/logo1.gif">
                <div >
                    <h4 >BADU Jet</h4>
                    <p >Tehtiin sitä tätä ja tuota</p>
                    <p><small class="text-muted">1.1.1970</small></p>
                </div>
            </div>
            <div class="card"> <img src="img/logo/logo2.gif">
                <div>
                    <h4>Pahlén</h4>
                    <p >Tässä tehtiin semmosta tommosta ja tämmöstä</p>
                    <p><small class="text-muted">1.1.1970</small></p>
                </div>
            </div>
            <div class="card"> <img  src="img/logo/logo3.gif" >
                <div >
                    <h4 >Calpeda</h4>
                    <p >Tää on ollu tosi jees huoltosopimus jo monen monta vuotta</p>
                    <p><small class="text-muted">1.1.1970</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
