<link rel="stylesheet" href="css/suositukset.css">
<div class="references">
    <div class="reference-item">
        <div class="item reference-item-text">
            <h4>Firman Oy</h4>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin efficitur tristique ante, vitae euismod purus convallis eget. Proin maximus facilisis ligula id vestibulum.
            </p>
        </div>
        <div class="item reference-item-img">
            <img src="img/kuva.jpg">
        </div>
    </div>
    <hr>
    <div class="reference-item">
        <div class="item reference-item-img">
            <img src="img/kuva.jpg">
        </div>
        <div class="item reference-item-text">
            <h4>Firma 2 Oy</h4>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin efficitur tristique ante, vitae euismod purus convallis eget. Proin maximus facilisis ligula id vestibulum.
            </p>
        </div>
    </div>
</div>