<div class="col-sm-9 col-md-9 col-centered">
<p>
    <h3>Tuusulan Allasapu Oy</h3>
    <h3>Markku Löfman</h3>
    <h3>markku.lofman(at)allasapu.fi</h3>
    <h3>+358 45 231 0995</h3>
    <h3>Lahelantie 36 A</h3>
    <h3>04330 LAHELA</h3></p>
<hr>
<div class="row">
    <div class="content-img-container" ng-switch="introduction">
        <div class="introduction-msg" ng-switch-when="1">
            <img class="img-responsive content-img" src="img/gallery/9.jpg">
        </div>
        <div class="introduction-msg" ng-switch-when="2">
            <img class="img-responsive content-img" src="img/gallery/8.jpg">
        </div>
        <div class="introduction-msg" ng-switch-when="3">
            <img class="img-responsive content-img" src="img/gallery/11.jpg">
        </div>
    </div>
</div>
</div>
